body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    background: none;
    color: #47e0e0;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

button:hover {
    border-color: #f9c5e8;
    color: pink;
    box-shadow: 0 0.5em 0.5em -0.3em #f9c5e8;
    transform: translateY(-0.25em);
    cursor: pointer;
}